*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* HEADER */
header {
    background: linear-gradient(90deg, #1f2937, #111827);
    padding: 15px 40px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    height: 45px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}


.logo span {
    font-size: 20px;
    font-weight: 600;
    color: #60a5fa; /* light blue */
}


.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #e5e7eb;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease;
}


.nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #60a5fa;
    transition: 0.3s;
    text-decoration: none;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: #60a5fa;
    text-decoration: none;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logo img {
    height: 50px;
}

.logo span {
    color: #60a5fa;
    font-weight: 600;
}

.nav-links > div {
    display: flex;
    align-items: center;
    gap: 25px;
}
