<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Wishlist</title>
    <link rel="stylesheet" th:href="@{createUserStyle.css}">
</head>
<body>
<div th:if="@{session.userId}"></div>
<div class="container">
    <form class="form-wrapper" th:action="@{/createWishlist}" method="post">
        <h2 class="form-title">Opret ønskeseddel</h2>
        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>
        <div class="form-group">
            <input type="text" id="name" name="name" placeholder=" " required>
            <label for="name">Navn på ønskeseddel</label>
        </div>

        <div class="button-wrapper">
            <div class="form-actions">
                <button type="submit" class="btn">Opret</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>