<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Wishlist</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
<div class="container">
    <div class="form-container">
        <h1>Create Wishlist</h1>
        <form th:action="@{/createWishlist}" method="post">
            <div th:if="${errorMessage}" class="error-message">
                <p th:text="${errorMessage}"></p>
            </div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Create name" required>

            <label for="userID">UserID</label>
            <input type="number" id="userID" name="userID" placeholder="Create userID" required>

            <button type="submit">Create Wishlist</button>
        </form>
    </div>
</div>
</body>
</html>