<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/HeaderStyle.css}">
</head>
<body>
<header>
    <nav class="navbar">

        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/img/Logo.png}" alt="logo">
            </a>
        </div>

        <div class="nav-links">
            <a th:href="@{/showWishlists}">Ønskelister</a>
            <a th:href="@{/user/search}">Find brugere</a>
            <a th:href="@{/profile}">Profil</a>
            <a th:href="@{/logout}">Log ud</a>
        </div>

    </nav>
</header>
<form action="/user/delete" method="post">
    <button type="submit"
            onclick="return confirm('Er du sikker på, at du vil slette din konto?')">
        Slet konto
    </button>
</form>
</body>
</html>