<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rediger profil</title>
    <link rel="stylesheet" th:href="@{/formStyle.css}">
    <link rel="stylesheet" th:href="@{/headerStyle.css}">
</head>
<body>
<header>
    <nav class="navbar">

        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/img/Logo.png}" alt="logo">
            </a>
        </div>

        <div class="nav-links">
            <a th:href="@{/showWishlists}">Ønskesedler</a>
            <a th:href="@{/createWishlist}">Ny ønskeseddel</a>
            <a th:href="@{/profile}">Min profil</a>
            <a th:href="@{/logout}">Log ud</a>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <form class="form-wrapper" th:action="@{/profile/edit}" method="post">
            <div class="createUserForm">
                <h2 class="form-title">Rediger profil</h2>
                <div th:if="${errorMessage}" class="error-message">
                    <p th:text="${errorMessage}"></p>
                </div>

            <div class="form-group">
                <input type="text" id="name" name="name" th:value="${user.name}" placeholder=" " required>
                <label for="name">Navn</label>
            </div>
            <div class="form-group">
                <input type="email" id="email" name="email" th:value="${user.email}" placeholder=" " required>
                <label for="email">Email</label>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder=" ">
                <label for="password">Ny adgangskode - må stå tom</label>
            </div>
            <div class="form-group">
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder=" ">
                 <label for="confirmPassword">Bekræft ny adgangskode</label>
            </div>
            <div class="button-wrapper">
                <button type="submit" class="btn" id="btn-submit">Gem ændringer</button>
            </div>
            <p><a th:href="@{/profile}">Annuller</a></p>
            </div>
        </form>
    </div>
</main>
<footer>Blank</footer>
</body>
</html>