<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ønskeskyen</title>
</head>
<body>
<header>
    <nav class="navbar">
        <h1>Ønskeskyen</h1>
        <div class="nav-links">
            <div th:if="${session.userId}">
                <p th:text="'Logget ind som: ' + ${session.userName}"></p>
                <a th:href="@{/showWishlists}">Mine Ønskesedler</a>
                <a th:href="@{/createWishlist}">Ny Ønskeseddel</a>
            </div>
            <div th:if="${session.userId == null}">
                <a th:href="@{/createUser}">Registrer</a>
                <a th:href="@{/login}">Login</a>
            </div>
        </div>
    </nav>
</header>

<main>
    <div th:if="${session.loggedInUser != null}">
        <h3>Profil</h3>
        <p><strong>Navn:</strong> <span th:text="${session.userName}"></span></p>
        <p><strong>Email:</strong> <span th:text="${session.email}"></span></p>
        <p><strong>User ID:</strong> <span th:text="${session.userId}"></span></p>
    </div>
</main>

<footer>
    <p>Ønskeskyen</p>
</footer>
</body>
</html>