<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ønskeskyen</title>
</head>
<body>
<header>
    <nav>
        <a th:href="@{/}">Hjem</a>
        <a th:href="@{/createWishlist}">Lav en ønskeseddel</a>
        <a th:href="@{/showWishlists}">Ønskeseddler</a>
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/createUser}">Registrer</a>
    </nav>
</header>

<main>
    <h1>Ønskeskyen</h1>
    <div th:if="${session.loggedInUser != null}">
        <h3>Profil</h3>
        <p><strong>Navn:</strong> <span th:text="${session.userName}"></span></p>
        <p><strong>Email:</strong> <span th:text="${session.email}"></span></p>
        <p><strong>User ID:</strong> <span th:text="${session.userId}"></span></p>
    </div>
</main>

<footer>
    <p>Ønskeskyen</p>
</footer>
</body>
</html>