<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My profile</title>
    <link rel="stylesheet" th:href="@{/headerStyle.css}">
    <link rel="stylesheet" th:href="@{/footerStyle.css}">
    <link rel="stylesheet" th:href="@{/globalStyle.css}">
</head>
<body>
<header>
    <nav class="navbar">

        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/img/Logo.png}" alt="logo">
            </a>
        </div>

        <div class="nav-links">
            <a th:href="@{/showWishlists}">Ønskesedler</a>
            <a th:href="@{/createWishlist}">Ny ønskeseddel</a>
            <a th:href="@{/profile}">Min profil</a>
            <a th:href="@{/logout}">Log ud</a>
        </div>

    </nav>
</header>
 <h1>Min profil</h1>
  <p>BrugerID: <span th:text="${session.loggedInUser.id}"></span></p>
  <p>Navn: <span th:text="${session.loggedInUser.name}"></span></p>
  <p>Email: <span th:text="${session.loggedInUser.email}"></span></p>


 <a th:href="@{/}">Tilbage til forsiden</a>
  <br>
  <a th:href="@{/showWishlists}">Mine ønskelister</a>
 <br>
  <a th:href="@{/profile/edit}">Rediger profil</a>
</body>

<footer>
    <div class="footer-container">

        <div class="footer-left">
            <div class="footer-title">Ønskeskyen</div>
            <div class="footer-text">Del dine ønsker nemt og hurtigt</div>
        </div>

        <div class="footer-links">
            <a th:href="@{/showWishlists}">Ønskelister</a>
            <a th:href="@{/createWishlist}">Opret ønskeseddel</a>
            <a th:href="@{/profile}">Profil</a>
        </div>

    </div>

    <div class="footer-bottom">
        Ønskeskyen
    </div>
</footer>
</html>