<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/HeaderStyle.css}">
</head>
<body>
<header>
    <nav class="navbar">
        <h1>Ønskeskyen</h1>

        <div class="nav-links">
            <a th:href="@{/showWishlists}">Ønskelister</a>
            <a th:href="@{/user/search}">Find brugere</a>
            <a th:href="@{/profile}">Profil</a>
            <a th:href="@{/logout}">Log ud</a>
        </div>
    </nav>
</header>
<h2>Find andre brugere</h2>
<form action="/user/search" method="get">
    <input type="text" name="query" placeholder="Søg efter navn..."/>
    <button type="submit">Søg</button>
</form>

<ul>
    <li th:each="user : ${users}">
        <span th:text="${user.name}"></span>
        <span th:text="${user.email}"></span>
    </li>
</ul>
</body>
</html>