<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mine ønsker</title>
    <link rel="stylesheet" th:href="@{/headerStyle.css}">
</head>
<body>
<header>
    <nav class="navbar">

        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/img/Logo.png}" alt="logo">
            </a>
        </div>

        <div class="nav-links">
            <a th:href="@{/showWishlists}">Ønskesedler</a>
            <a th:href="@{/createWishlist}">Ny ønskeseddel</a>
            <a th:href="@{/profile}">Min profil</a>
            <a th:href="@{/logout}">Log ud</a>
        </div>

    </nav>
</header>
<h1>Ønsker</h1>

<section class="wish-list">
    <div class="wish-card" th:each="wish : ${wishes}">
        <div class="wish-header">
            <h2 th:text="${wish.name}"></h2>
        </div>

        <div class="wish-body">
            <p class="wish-description" th:text="${wish.description}"></p>
            <p class="wish-price" th:text="'Pris: ' + ${wish.price} + ' kr.'"></p>
            <div class="wish-link"
                 th:if="${wish.link != null && !wish.link.isEmpty()}">
                <a th:href="${wish.link}" target="_blank">Se link</a>
            </div>
        </div>

        <div class="wish-actions">
            <form th:if="${hasAccess && !isOwner && !@wishService.isWishReserved(wish.id)}" th:action="@{/wish/reserve}"
                  method="post">
                <input type="hidden" name="wishId" th:value="${wish.id}">
                <button type="submit">Reserver ønske</button>
            </form>
            <div th:if="${hasAccess && !isOwner && @wishService.isWishReserved(wish.id)}">
                <span>Reserveret</span>
            </div>
        </div>

        <hr class="divider">

    </div>
</section>

<div class="wishlist-action" th:if="${isOwner}">
    <div class="add-wish">
        <a th:href="@{/wish/create(wishlistId=${wishlistId})}">Tilføj ønske</a>
    </div>
    <div class="wishlist-share">
        <a th:href="@{/wishlist/share(wishlistId=${wishlistId})}">Del din ønskeseddel</a>
    </div>
</div>

</body>
</html>