<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rediger Ønskeliste</title>
    <link rel="stylesheet" th:href="@{/headerStyle.css}">
    <link rel="stylesheet" th:href="@{/formStyle.css}">
    <link rel="stylesheet" th:href="@{/headerStyle.css}">
    <link rel="stylesheet" th:href="@{/footerStyle.css}">
    <link rel="stylesheet" th:href="@{/globalStyle.css}">
</head>
<body>
<header>
    <nav class="navbar">

        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/img/Logo.png}" alt="logo">
            </a>
        </div>

        <div class="nav-links">
            <a th:href="@{/showWishlists}">Ønskesedler</a>
            <a th:href="@{/createWishlist}">Ny ønskeseddel</a>
            <a th:href="@{/profile}">Min profil</a>
            <a th:href="@{/logout}">Log ud</a>
        </div>

    </nav>
</header>
<main>
    <div class="container">
        <form class="form-wrapper" th:action="@{/saveUpdateWishlist}" method="post">
            <input type="hidden" name="id" th:value="${wishlist.id}">
            <div class="updateWishlistForm">
                <h2 class="form-title">Rediger Ønskeseddel</h2>
                <div class="form-group">
                    <input type="text" id="name" name="name" th:value="${wishlist.name}" required>
                    <label for="name">Nyt navn</label>
                </div>

                <div class="button-wrapper">
                    <div class="form-actions">
                        <button type="submit" class="btn" id="btn-submit">Gem ændringer</button>
                        <a th:href="@{/showWishlists}" class="btn-cancel">Annuller</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<footer>
    <div class="footer-container">

        <div class="footer-left">
            <div class="footer-title">Ønskeskyen</div>
            <div class="footer-text">Del dine ønsker nemt og hurtigt</div>
        </div>

        <div class="footer-links">
            <div th:if="${session.loggedInUser != null}">
                <a th:href="@{/showWishlists}">Ønskelister</a>
                <a th:href="@{/createWishlist}">Opret ønskeseddel</a>
                <a th:href="@{/profile}">Profil</a>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        Ønskeskyen
    </div>
</footer>

</body>
</html>