<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rediger Ønskeliste</title>
    <link rel="stylesheet" th:href="@{/HeaderStyle.css}">
</head>
<body>
<header>
    <nav class="navbar">
        <h1>Ønskeskyen</h1>

        <div class="nav-links">
            <a th:href="@{/showWishlists}">Ønskelister</a>
            <a th:href="@{/user/search}">Find brugere</a>
            <a th:href="@{/profile}">Profil</a>
            <a th:href="@{/logout}">Log ud</a>
        </div>
    </nav>
</header>
    <h1>Rediger Ønskeliste</h1>

    <form th:action="@{saveUpdateWishlist}" method="post">
        <input type="hidden" name="id" th:value="${wishlist.id}">

        <label for="name">Nyt navn</label>
        <input type="text" id="name" name="name" th:value="${wishlist.name}">

        <button type="submit">Gem ændringer</button>
    </form>

</body>
</html>