<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/formStyle.css}">
    <link rel="stylesheet" th:href="@{/headerStyle.css}">
    <link rel="stylesheet" th:href="@{/footerStyle.css}">
    <link rel="stylesheet" th:href="@{/globalStyle.css}">
</head>
<body>
<header>
    <nav class="navbar">

        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/img/Logo.png}" alt="logo">
            </a>
        </div>

        <div class="nav-links">

            <div th:if="${session.loggedInUser}">
                <p th:text="'Logget ind som: ' + ${session.loggedInUser.name}"></p>

                <a th:href="@{/showWishlists}">Ønskesedler</a>
                <a th:href="@{/createWishlist}">Ny ønskeseddel</a>
                <a th:href="@{/profile}">Min profil</a>
                <a th:href="@{/logout}">Log ud</a>
            </div>

            <div th:if="${session.loggedInUser == null}">
                <a th:href="@{/login}">Login</a>
            </div>

        </div>

    </nav>
</header>
<main>
    <div class="container">
        <form class="form-wrapper" th:action="@{/login}" method="post">
            <div class="loginForm">
                <h2 class="form-title">Login</h2>
                <div th:if="${errorMessage}" class="error-message">
                    <p th:text="${errorMessage}"></p>
                </div>
                <div class="email-wrapper">
                    <div class="form-group">
                        <input type="email" id="email" name="email" value="ole@example.com" placeholder=" " required>
                        <label for="email">Email</label>
                    </div>
                </div>

                <div class="password-wrapper">
                    <div class="form-group">
                        <input type="password" id="password" name="password" value="Test1234" placeholder=" " required>
                        <label for="password">Password</label>
                    </div>
                </div>

                <div class="button-wrapper">
                    <div class="form-actions">
                        <button type="submit" class="btn" id="btn-submit">Login</button>
                    </div>
                </div>

                <p><a href="/createUser">Ingen bruger? Registrer her</a></p>
            </div>
        </form>
    </div>
</main>

<footer>
    <div class="footer-container">

        <div class="footer-left">
            <div class="footer-title">Ønskeskyen</div>
            <div class="footer-text">Del dine ønsker nemt og hurtigt</div>
        </div>

        <div class="footer-links">
            <a th:href="@{/showWishlists}">Ønskelister</a>
            <a th:href="@{/createWishlist}">Opret ønskeseddel</a>
            <a th:href="@{/profile}">Profil</a>
        </div>

    </div>

    <div class="footer-bottom">
        Ønskeskyen
    </div>
</footer>
</body>
</html>