<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/HeaderStyle.css}">
</head>
<header>
    <nav class="navbar">
        <h1>Ønskeskyen</h1>

        <div class="nav-links">
            <a th:href="@{/showWishlists}">Ønskelister</a>
            <a th:href="@{/user/search}">Find brugere</a>
            <a th:href="@{/profile}">Profil</a>
            <a th:href="@{/logout}">Log ud</a>
        </div>
    </nav>
</header>
<body>
<form action="/wishlist/share" method="post">
    <input type="number" name="wishlistId" placeholder="Wishlist ID" />
    <input type="number" name="userId" placeholder="User ID" />
    <button type="submit">Del ønskeseddel</button>
</form>

</body>
</html>